BasedOnStyle: LLVM
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: False
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent